.card {
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    cursor: pointer;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.3s;
    width: 100px;

    .card-face {
        align-items: center;
        backface-visibility: hidden;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;

        img {
            height: 95%;
            width: 95%;
        }

        &.card-back-face {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped {
        transform: rotateY(180deg);
    }

    &.is-inactive {
        // visibility: hidden;
        // opacity: 0;
        cursor: default;
    }
}
